@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.solicitud-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f3e5f5;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

.title {
  font-size: 24px;
  color: #6f2c91;
  margin-bottom: 20px;
}

.solicitud-form {
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #4a148c;
}

.form-input {
  width: calc(100% - 10px);
  padding: 10px;
  border: 1px solid #d1c4e9;
  border-radius: 5px;
  font-size: 16px;
}

.submit-button {
  background-color: #4a148c;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 100%;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.submit-button-pdf {
  background-color: #4a148c;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 30%;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.submit-button:hover {
  background-color: #6f2c91;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.solicitudes-card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
}

.solicitudes-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.solicitudes-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #d1c4e9;
}

.error-message {
  color: red;
  margin-top: 10px;
}